html,body{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #000;
}

/* main-cart------------------------------------------ */

.main-online-reserve {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(229, 223, 48), rgba(74, 229, 48));
}

.main-online-reserve .container {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 1400px;
    height: 100%;
    padding: 0 80px 80px;
    background-color: #FBC528;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
}

.main-online-reserve header{
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 0 80px;
    background-color: #191A24;
    color: #fff;
}
.main-online-reserve header h1{
    width: 30%;
    font-size: 48px;
}
.main-online-reserve header small{
    width: 70%;
    font-size: 24px;
    justify-self: center;
}
.main-online-reserve .form{
    width: 100%;
    height: 100%;
    margin: auto;
}
.main-online-reserve .form h4{
    display: block;
    font-size: 48px;
    margin: 40px;
}
.main-online-reserve .form .time{
    display: block;
    text-align: center;
}
.main-online-reserve .form input{
    display: inline-block;
    font-size: 24px;
}
.main-online-reserve .form .date{
    display: flex;
    justify-content: center;
}
.main-online-reserve .form h5{
    text-align: center;
    font-size: 32px;
    padding-right: 24px;
}
.main-online-reserve .form .moment{
    display: flex;
    justify-content: center;
    margin: 80px 0;
    /* margin: 80px 180px; */
  
}
.main-online-reserve .form .moment input{
    display: inline-block;
    width: 20px;
    border: 1px solid red;
}
.main-online-reserve .form .moment label{
    display: inline-block;
    border: 1px solid black;
    padding: 20px 40px;
    font-size: 24px;
}
.main-online-reserve .moment-radio{
    display: flex;
    justify-content: space-between;
}
.main-online-reserve .form .people-number{
    margin: 40px 0;
    text-align: center;
    font-size: 24px;
}
.main-online-reserve .form .people-number select{
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 24px;
}
.main-online-reserve .form .people-number option{
    font-size: 24px;
}

.main-online-reserve .form .people-number{}
.main-online-reserve .form .order-info{
    text-align: center;
}
.main-online-reserve .form .order-info label{
    display: inline-block;
    font-size: 24px;
    margin: 24px;
}
.main-online-reserve .form button{
    display: block;
    margin: 80px auto;
}
.main-online-reserve .restaurant-info{
    display: block;
    text-align: center;
}
.main-online-reserve .restaurant-info h2{
    font-size: 36px;
}
.main-online-reserve .restaurant-info p{
    font-size: 24px;
    line-height: 160%;
}
.main-online-reserve button{
    display: inline-block;
    -webkit-clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    background-color: #000;
    color: #fff;
    border: none;
    padding: 16px 84px;
    cursor: pointer;

    font-size: 24px;
}
@media (max-width:960px) {
    .main-online-reserve .container{
        padding: 0 24px 24px;
    }
    .main-online-reserve header h1{
        font-size: 32px;
    }
    .main-online-reserve header small{
        font-size: 20px;
    }
    .main-online-reserve .form h4{
        font-size: 32px;
    }
    .main-online-reserve .form h5{
        font-size: 24px;
    }

}
