html,body{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #000;
}

/* banner---------------------------------- */

.banner {
    padding-top: 120px;
    width: 100%;
    height: 284px;
    position: relative;
    overflow: hidden;
}

@media (max-width:1400px) {
    .banner {
        padding-top: 80px;
        height: 240px;
    }
}

.banner img {
    width: 100%;
    height: 100%;
}

/* .main-order-confirmed(名字同main-cart檔案---------------- */

.main-cart {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(229, 223, 48), rgba(74, 229, 48));
}

.main-cart .container {
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: auto;
    padding: 80px;
    background-color: #000;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
}

/* ordernumber--------------------------- */

.main-cart .ordernumber{
    display: flex;
    flex-flow: column;
    align-items: center;

    font-size: 48px;
}
.main-cart .ordernumber h2{
    display: block;
    padding: 40px 0;
    color: #ffffff;
}
.main-cart .ordernumber .order-detail{
    font-size: 36px;
}

.main-cart .cart-list {
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.main-cart .cart-list table {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    width: 100%;
    background-color: #FBC528;
}

.main-cart .cart-list th {
    background-color: #191A24;
    color: #ffffff;
    width: 25vw;
    height: 60px;
    vertical-align: middle;
}

.main-cart .cart-list td {
    height: 150px;
    text-align: center;
    vertical-align: middle;
}

.main-cart .cart-list tr {
    /* border-bottom: 1px solid #dddddd; */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.main-cart .cart-list img {
    padding: 0 8px;
}

.main-cart .pay-info{
    color: #ffffff;
    width: 402px;
    margin-top: 40px;
    margin-bottom: 80px;
}
.main-cart .pay-info table {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    width: 400px;
    background-color: #191A24;
}

.main-cart .pay-info th {
    /* height: 24px; */
    background-color: #FBC528;
    color: #000;
    vertical-align: middle;
}
.main-cart .pay-info td {
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
.main-cart .pay-info .total{
    font-size: 32px;
}
.main-cart .sent button{
    display: inline-block;
    -webkit-clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    background-color: #FBC528;
    border: none;
    padding: 16px 84px;
    cursor: pointer;

    font-size: 24px;
}
