html,
body {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #000;
}

/* .main-order-confirmed(名字同main-cart檔案---------------- */

.main-reserve {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(229, 223, 48), rgba(74, 229, 48));
}

.main-reserve .container {
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: auto;
    padding: 80px;
    background-color: #000;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000;
}

/* ordernumber--------------------------- */

.main-reserve .reserve-number {
    display: flex;
    flex-flow: column;
    align-items: center;

    font-size: 48px;
}

.main-reserve .reserve-number h2 {
    display: block;
    padding: 40px 0;
    color: #ffffff;
}

.main-reserve .reserve-number .reserve-detail {
    font-size: 36px;
}

.main-reserve .reserve-list {
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.main-reserve .reserve-list table {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: #FBC528;
    border: 5px solid #00e509;
}

.main-reserve .reserve-list th {
    background-color: #191A24;
    color: #ffffff;
    width: 25vw;
    height: 54px;
    vertical-align: middle;
}

.main-reserve .reserve-list td {
    height: 54px;
    text-align: center;
    vertical-align: middle;
}

.main-reserve .reserve-list tr {
    /* border-bottom: 1px solid #dddddd; */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.main-reserve .sent button {
    display: inline-block;
    -webkit-clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    background-color: #FBC528;
    border: none;
    padding: 16px 84px;
    margin-top: 80px;
    cursor: pointer;

    font-size: 24px;
}

@media (max-width:960px) {
    .main-reserve .container {
        padding: 40px;
    }
}

@media (max-width:768px) {
    .main-reserve .container {
        padding: 16px;
    }

    .main-reserve .reserve-number {
        font-size: 32px;
    }

    .main-reserve .reserve-number .reserve-detail {
        font-size: 24px;
    }

    .main-reserve .reserve-list table {
        width: 100%;
        font-size: 20px;
    }

    .main-reserve .sent button {
        font-size: 20px;
        padding: 16px 40px;
        margin-bottom: 40px;
    }

}