body,
html {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #000;
    scroll-behavior: smooth;
}

/* banner---------------------------------- */

.banner {
    margin-top: 80px;
    width: 100%;
    height: 85vh;
    position: relative;
}

.owl-theme .restaurant-banner {
    height: 85vh;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* carousel-style */
.owl-theme .owl-nav{
    position: relative;
}
.owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: -36vh;
    transform: translateY(-50vh);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    opacity: 0.6;
    transition: all .3s;
}

.owl-theme .owl-nav .owl-prev:hover,
.owl-theme .owl-nav .owl-next:hover {
    opacity: 1;
    background-color: #fff;
}

.owl-theme .owl-nav .owl-prev {
    left: 1%;
    top: 0;
}

.owl-theme .owl-nav .owl-next {
    right: 1%;
    top: 0;
}

.owl-theme .owl-dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 24px;
}

.owl-theme .owl-dots .owl-dots {
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    vertical-align: top;
    margin: 0 4px;
}

.owl-theme .owl-dots .owl-dots {
    background-color: #000;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background-color: rgba(0, 0, 0, .6);
}

.banner .slogon {
    width: 480px;
    position: absolute;
    background-color: #191A24;
    color: #fff;
    right: 0px;
    bottom: 0px;
    font-size: 36px;
    line-height: 140%;
    padding: 10px;
}

/* RWD-banner---------------------------- */

@media (max-width:1400px) {
    .banner {
        margin-top: 80px;
    }

    .banner .slogon {
        width: 360px;
        font-size: 24px;
    }
}

@media (max-width:960px) {
    .banner .slogon {
        font-size: 16px;
        width: 240px;
    }

    .banner {
        height: 50vh;
    }

    .owl-theme .restaurant-banner {
        height: 50vh;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
        position: absolute;
        top: 18vh;
        /* transform: translateY(-50vh); */
    }
}
@media (max-width:414px) {
    .banner .slogon {
        font-size: 12px;
        width: 130px;
        line-height: 100%;
    }
}

/* blockone------------------- */

.blockone {
    width: 100%;
    height: 100%;
    background-color: #E5DF30;
}

.blockone .container {
    max-width: 1400px;
    height: 100%;
    padding: 80px;
    margin: auto;
    display: flex;
    flex-flow: column;
}

.blockone .IST {
    text-align: center;
}

.blockone .IST h1 {
    font-size: 48px;
    line-height: 140%;
    padding-bottom: 40px;

}

.blockone .container .intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.blockone .container .intro .cards {
    width: 33.33333%;
    padding: 8px;
    background-color: black;

    color: #fff;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
}

.blockone .container .intro .cards p {
    padding: 16px;
}

.blockone .container .intro .cards img {
    width: 100%;
}

@media (max-width:768px) {
    .blockone {
        width: 100%;
        height: 100%;
        background-color: #E5DF30;
    }

    .blockone .container {
        max-width: 1400px;
        height: 100%;
        padding: 24px 16px;
        margin: auto;
        display: flex;
        flex-flow: column;
    }

    .blockone .IST {
        text-align: center;
    }

    .blockone .IST h1 {
        font-size: 36px;
        line-height: 140%;
        padding-bottom: 24px;

    }

    .blockone .container .intro {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 24px;
    }

    .blockone .container .intro .cards {
        width: 100%;
        box-sizing: border-box;
        /* height: 100%; */
        padding: 8px;
        background-color: black;

        color: #fff;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
    }

    .blockone .container .intro .cards p {
        padding: 16px;
    }

    .blockone .container .intro .cards img {
        width: 100%;
        aspect-ratio: 512 / 411;
    }
}

/*picinfo--------------------------------- */
.picinfo {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.picinfo .container {
    max-width: 1400px;
    height: 100%;
    margin: auto;
    padding: 80px;
    display: flex;
    flex-flow: column;
}

.picinfo .topbar-options {
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
}
.picinfo .topbar-phone {
    display: none;
}

.picinfo .container .topbar .outside {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
}

.picinfo .container .topbar .factory {
    -webkit-clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
}

.picinfo .container .topbar a {
    width: 200px;
    height: 72px;
    line-height: 72px;
    text-align: center;

    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    background-color: #191A24;
}
.picinfo .container .topbar-link.active {
    background-color:  #00e509;
    color: #000;
    animation: fadeIn 800ms;
}
.picinfo .shopintro{
    display: none;
}
.picinfo .shopintro.active {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 80px;
}
@keyframes fadeIn {
    from{opacity: 0;}
}

.picinfo .shopintro .left-big {
    width: 50%;
}

.picinfo .shopintro .left-big img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
}

.picinfo .shopintro .right-picinfo {
    width: 50%;
    display: flex;
    gap: 40px;
    flex-flow: column;
}

.picinfo .shopintro .right-picinfo .picintro {
    color: #fff;
    flex-grow: 2;
}

.picinfo .shopintro .right-picinfo p {
    display: block;
    font-size: 36px;
    line-height: 140%;
}

.picinfo .right-picinfo .right-smallpic {
    display: flex;
    justify-content: space-around;
    gap: 12px;
}

.picinfo .right-picinfo .right-smallpic img {
    max-width: 30%;
    display: inline-block;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

@media (max-width:1400px) {
    .picinfo .shopintro .right-picinfo p {
        font-size: 28px;
    }
}

@media (max-width:960px) {
    .picinfo .shopintro .right-picinfo p {
        font-size: 20px;
    }

    .picinfo .container .topbar a {
        width: 200px;
        height: 48px;
        line-height: 48px;
        font-size: 20px;
    }
}

@media (max-width:768px) {
    .picinfo .container {
        max-width: 1400px;
        height: 100%;
        margin: auto;
        padding: 24px 16px;
        display: flex;
        flex-flow: column;
    }

    .picinfo .topbar {
        margin-bottom: 24px;
    }

    .picinfo .shopintro.phone{
        display: flex;
        flex-flow: column;
        gap: 24px;
    }
    .picinfo .shopintro.active{
        display: none;
    }

    .picinfo .shopintro .right-picinfo .right-smallpic {
        display: none;
    }

    .picinfo .shopintro .right-picinfo {
        width: 100%;
    }

    .picinfo .shopintro .left-big {
        width: 100%;
    }

    .picinfo .shopintro .left-big img {
        max-width: 100%;
        aspect-ratio: 1 / 1;
    }

    .picinfo .topbar {
        justify-content: center;
        display: flex;
        margin-bottom: 40px;
    }
    .picinfo .topbar .outside, .picinfo .topbar .factory, .picinfo .topbar .inner{
        display: none;
        visibility: hidden;
    }

    .picinfo .container .topbar .outside {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
    }

    .picinfo .container .topbar .factory {
        -webkit-clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    }
    .picinfo .topbar-options{
        display: none;
    }
    .picinfo .topbar{
        margin-bottom: 24px;
    }
    .picinfo .topbar-phone {
        display: flex;
        width: 100%;
    }
    .picinfo .topbar-phone p{
        width: 100%;
        height: 100%;
        line-height: 48px;
        display: inline-block;
        padding: 0 16px;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 24px;
        text-decoration: none;
        text-align: center;
        color: #000;
        background-color: #FBC528;
    }
    .picinfo .container .topbar a {
        width: 100%;
        background-color: #000;
    }

    .picinfo .topbar-phone img{
        height: 100%;
        width: 100%;
    }

}

/* news----------------------------------------------- */

.news {
    width: 100%;
    height: 100%;
    background-color: #FBC528;
}

.news .container {
    max-width: 1400px;
    height: 100%;
    padding: 80px;
    margin: auto;
}

.news .container h2 {
    display: block;
    text-align: center;
    font-size: 48px;
}

.news .news-box {
    gap: 24px;
    align-items: center;
    margin: 40px 0;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    touch-action: pan-x;
}


.news .news-box .card {
    width: 33.33333%;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    gap: 24px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 140%;
    padding: 16px;

    position: relative;
    scroll-snap-align: center;
}

.news .news-box .card img {
    width: 100%;
    aspect-ratio: 4 / 3;
}

.news .news-box .card h3 {
    font-size: 18px;
    line-height: 140%;
    padding-bottom: 16px;
}

.news .news-box .card p {
    display: inline-block;
    padding-bottom: 16px;
}

.news .news-box .card .date {
    position: absolute;
    bottom: 0%;
    right: 16px;
    font-size: 14px;
}

.news .icons {
    text-align: center;
}

.news .icons img {
    padding: 0 30px;
}
@media (max-width:768px) {
    .news .container{
        padding: 24px 26px;
    }
    .news .container h2{
        font-size: 36px;
    }
    .news .news-box .card {
        width: 50%;
    }

}

/* contact-------------------------------------------- */

.contact {
    width: 100%;
    height: 100%;
    background-color: #E5DF30;
}

.contact .container {
    max-width: 1400px;
    height: 100%;
    margin: auto;
    padding: 80px;
    display: flex;
    gap: 40px;
}

.contact .map {
    width: 50%;
}

.contact .map iframe {
    width: 100%;
    height: 100%;
}

.contact .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.contact .contact-info a {
    display: flex;
    align-items: center;
    padding: 16px 0;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.contact .contact-info img {
    padding-right: 24px;
}

@media (max-width:960px) {
    .contact .container {
        flex-flow: column;
        padding: 24px;
    }

    .contact .map {
        width: 100%;
    }

    .contact .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contact .contact-info a {
        display: flex;
        padding: 8px 0;
        font-size: 20px;
        text-decoration: none;
        color: #000;
    }

    .contact .contact-info img {
        width: 24px;
        height: 24px;
    }

    .contact .map {
        width: 100%;
        height: 300px;
    }

    .contact .map iframe {
        width: 100%;
        height: 100%;
    }
}