html,body{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #000;
}

/* banner---------------------------------- */

.banner {
    padding-top: 120px;
    width: 100%;
    height: 284px;
    position: relative;
    overflow: hidden;
}

@media (max-width:1400px) {
    .banner {
        padding-top: 80px;
        height: 240px;
    }
}

.banner img {
    width: 100%;
    height: 100%;
}

/* .main-item-------------------------------------- */

.main-item{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(229, 223, 48), rgba(74, 229, 48));
}
.main-item .container{
    position: relative;
    max-width: 1400px;
    height: 100%;
    margin: auto;
    padding: 80px;
    background-color: #000;
    font-family:'Noto Sans TC', sans-serif;
    color: #fff;
}
.main-item .container .item-info{
    display: flex;
}
.main-item .item-info .imgs{
    width: 50%;
}
.main-item .item-info .imgs .bigpic img{
    width: 100%;
    aspect-ratio: 685 / 440;
}
.main-item .item-info .imgs .smallpic{
    display: flex;
    width: 100%;
    overflow: hidden;
    padding-top: 24px;
}
.main-item .item-info .smallpic img{
    width: 33.33333%;
    aspect-ratio: 260 / 160;
}
.main-item .item-info .smallpic img:nth-child(2){
    padding: 0 12px;
}
.main-item .info-price{
    width: 50%;
    padding-left: 80px;
    position: relative;
}
.main-item .info-price h1{
    font-size: 48px;
}
.main-item .info-price h2{
    font-size: 36px;
    padding: 32px 0;
}
.main-item .info-price p{
    display: block;
    padding: 32px 0;
    font-size: 24px;
    line-height: 140%;
}
.main-item .info-price select{
    display: block;
    padding: 10px 20px;
    background-color: #E5DF30;
    font-family:'Noto Sans TC', sans-serif;
    font-size: 24px;
}
.main-item .info-price .buttons{
    display: flex;
}
.main-item .info-price .buttons button{
    margin-top: 40px;
    padding: 16px 40px;
    font-family:'Noto Sans TC', sans-serif;
    font-size: 24px;
    cursor: pointer;
}
.main-item .info-price .addcart{
    background-color: #FBC528;
    margin-right: 20px;
}
.main-item .info-price .buy{
    background-color: #00e509;
}

/* ---------------------------後增加覆寫!!! */
.main-item .info-price{
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 80px;
}
/* item-intro---------------------------------------------- */

.main-item .item-intro{
    margin: 80px;
    font-family:'Noto Sans TC', sans-serif;
}
.main-item .item-intro h2{
    text-align: center;
    font-size: 36px;
    line-height: 140%;
    padding-bottom: 24px;
}
.main-item .item-intro p{
    font-size: 24px;
    line-height: 160%;
}

/* recommand--------------------------------------------- */
.recommand{
    max-width: 1400px;
    margin: 80px;

}
.recommand .recommand-title{
    width: 100%;
    height: 50px;
    margin: 80px auto;
    background-color: #00e509;

    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #000;
}

.recommand .items{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.recommand .items .card{
    width: 20%;
    display: flex;
    flex-flow: column;
    position: relative;
    background-color: #FBC528;
    padding: 48px 20px 8px 20px;
    -webkit-clip-path: polygon(85% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(85% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
    color: #000;
}
.recommand .items .card img{
    width: 100%;
    aspect-ratio: 200 / 170;
}
.recommand .items .card h2{
    display: block;
    width: 100%;
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
}
.recommand .items .card p{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 18px;
    line-height: 140%;
}
.recommand .items .card span{
    font-size: 24px;
    align-self: flex-end;
}
.recommand .items .card .icon-cart{
    /* margin-top: 40px; */
    position: absolute;
    right: 24px;
    top: 70%;
    width: 30px;
    height: 30px;
}
.recommand .items .card .icon-cart img{
    width: 100%;
}
.big-cart{
    position: fixed;
    bottom: 8px;
    right: 8px;
}
.cart{
    position: absolute;
    bottom:0;
    right: 40px;
}
