@media (min-width:769px) {
    .main-footer {
    width: 100%;
    height: 278px;
    background-color: #191A24;
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 160%;
    font-size: 20px;
    align-items: center; 
}

.main-footer .container {
    max-width: 1420px;
    padding: 40px;
    height: 70%;
    display: flex;
    gap: 32px;
    align-items: center;
    margin: auto;
}
.main-footer .container .logo img {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.main-footer .container>.footer-item {
    width: 0;
    flex-grow: 1.2;
}
.main-footer .container> .nav {
    width: 0;
    flex-grow: 2;
    display: flex;
    gap: 24px;
}

.main-footer .footer-item {
    display: flex;
}

.main-footer .nav {
    display: flex;
}

.main-footer .nav .col1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-footer .nav .col1 a{
    display: inline-block;
    width: 100%;
}
.main-footer .nav .col2 {
    width: 150%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-footer .footer-item .cal1 {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

.main-footer .footer-item nav a {
    color: #fff;
    text-decoration: none;
}
.main-footer .follow {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;

}

.main-footer .follow .icons {
    display: flex;
    gap: 16px;
}

.main-footer .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    line-height: 140%;
}
}

/* laptop */

/* phone */
@media (max-width:768px) {
    .main-footer {
        width: 100%;
        background-color: #191A24;
        color: #fff;
        font-family: 'Noto Sans TC', sans-serif;
        line-height: 160%;
        font-size: 20px;
    }
    
    .main-footer .container {
        height: 100%; 
        padding: 40px;
        display: flex;
        flex-flow: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .main-footer .container .logo img {
        width: 150px;
        height: 150px;
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
        border-radius: 50%;
    }
    .footer-item {
        display: flex;
        justify-content: center;
    }
    
    .main-footer .nav {
        display: flex;
        flex-flow: column;
        gap: 24px;
    }
    
    .main-footer .nav .col1 {
        /* width: 100%; */
        gap: 24px;
        display: flex;
        justify-content: center;
    }
    .main-footer .nav .col1 a{
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    .main-footer .nav .col2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
    .main-footer .opentime {
        text-align: center;
    }
    .footer-item .cal1 {
        height: 100%;
        display: flex;
        flex-flow: column wrap;
    }
    
    .footer-item nav a {
        color: #fff;
        text-decoration: none;
    }
    .main-footer .follow {
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;
    
    }
    
    .main-footer .follow .icons {
        display: flex;
        gap: 16px;
    }
    
    .copyright {
        text-align: center;
    }
}

