body,html{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #000;
}

/* aboutus contant------------------------------------- */

.aboutus{
    width: 100%;
    height: 100%;
    background-color: #000;
}
.aboutus .container{
    max-width: 1400px;
    margin: auto;
    padding: 80px;
    display: flex;
    flex-flow: column;
    gap: 80px;
}
.aboutus .container .box{
    display: flex;
    color: #fff;
    gap: 60px;
}
.aboutus .container .box .pic{
    width: 50%;
    display: flex;
    align-items: center;
}
.aboutus .box img{
    aspect-ratio: 828 / 600;
    width: 100%;
}
.aboutus .box .intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 140%;
}

.aboutus .box .intro h2{
    line-height: 4em;
    font-size: 32px;
}
@media (max-width:768px) {
    
    .aboutus .container{
        max-width: 1400px;
        padding: 40px 16px 80px;
        gap: 24px;
    }
    .aboutus .container .box{
        flex-flow: column;
        gap: 40px;
    }
    .aboutus .selfintro .intro{
        order: 1;
    }
    .aboutus .selfintro .pic{
        order: 2;
    }
    .aboutus .quality .intro{
        order: 1;
    }
    .aboutus .quality .pic{
        order: 2;
    }

    .aboutus .container .box .pic{
        width: 100%;
    }
    .aboutus .box img{
        aspect-ratio: 828 / 600;
        width: 100%;
    }
    .aboutus .box .intro{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        font-size: 20px;
        font-family: 'Noto Sans TC', sans-serif;
        line-height: 140%;
    }
}
/* contactus----------------------------------------- */

.contactus{
    width: 100%;
    height: 100%;
    background-color: #FBC528;
}
.contactus .container{
    max-width: 1400px;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 120px 80px 90px 80px;
}
.contactus .container .contact-info{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 50%;
    font-family: 'Noto Sans TC', sans-serif;
}
.contactus .contact-info h1{
    font-size: 48px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #000;
}
.contactus .contact-info a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    text-decoration: none;
}
.contactus .contact-info p{
    display: inline-block;
    padding-left: 24px;

    color: #000;
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;

}
.contactus .container .form{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 50%;
}
.contactus .container .form label{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
}
.contactus .container .form input{
    display: block;
    font-size: 24px;
    padding: 4px 4px; 
}
.contactus .container .form textarea{
    display: block;
    font-size: 24px;
    padding: 4px 4px; 
}
.contactus .container .form .submit{
    margin-top: 40px;
    background-color: #000;
    color: #fff;
 
}
@media (max-width:768px) {
    .contactus .container{
        flex-flow: column;
        padding: 40px 16px;
    }
    .contactus .container .contact-info{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .contactus .contact-info h1{
        font-size: 32px;
        padding-bottom: 24px;
        margin-bottom: 40px;
    }
    .contactus .contact-info img{
        width: 20px;
        height: 20px;
    }
    .contactus .contact-info p{
        display: inline-block;
        padding-left: 16px;
    
        color: #000;
        font-size: 20px;
        font-family: 'Noto Sans TC', sans-serif;
    
    }
    .contactus .container .form{
        width: 100%;
    }
    .contactus .container .form input{
        font-size: 20px;
    }
    .contactus .container .form textarea{
        font-size: 20px;
    }
    .contactus .container .form .submit{
        border: none;
        border-radius: 0%;
        width: 120px;
        -webkit-clip-path: polygon(86% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(86% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
        align-self: flex-end;
        
}


