.hidden {
    display: none;
}
.main-header {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all 0.6s ease;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
}

.main-header .container {
    width: 1400px;
    height: 72px;
    margin: 0 80px;
    font-size: 0px;
    display: flex;
    flex-wrap: nowrap;
}

.main-header .container .left {
    width: 100%;
    margin-right: 40px;
    display: flex;
    flex-wrap: nowrap;
}

.main-header .container .right {
    width: 100%;
    margin-left: 40px;
    display: flex;
    flex-wrap: nowrap;
}

.main-header .container a {
    width: 100%;
    height: 72px;
    line-height: 72px;
    text-align: center;

    display: inline-block;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.main-header .container .left a:hover {
    background-color: #00e509;
}

.main-header .container .right a:hover {
    background-color: #00e509;
}

.main-header .container .news {
    background-color: #E5DF30;
}

.main-header .container .position {
    background-color: #E5DF30;
}

.main-header .container .about {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 24% 100%, 0 60%);
    background-color: #E5DF30;
}

.main-header .container .menu {
    -webkit-clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(76% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    background-color: #E5DF30;
}

.main-header .container .shop {
    -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
    background-color: #E5DF30;
}

.main-header .container .order {
    -webkit-clip-path: polygon(100% 0, 100% 60%, 76% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 60%, 76% 100%, 0 100%, 0 0);
    background-color: #00e509;
    transition: .3s;
}

.main-header .container .order:hover {
    scale: 1.2;
}

.main-header .container .logo {
    width: 180px;
    height: 180px;
    z-index: 5;
    border: none;
}

.main-header .container .logo img {
    height: 100%;
}

.main-header.hidden {
    top: -200px;
    /* Adjust this value based on your header height */
    box-shadow: none;
}

@media (max-width: 1400px) {
    .main-header {
        height: 80px;
    }

    .main-header .container {
        height: 48px;
        margin: auto 80px;
    }

    .main-header .container a {
        height: 100%;
        font-size: 16px;
        line-height: 48px;
    }

    .main-header .container .logo {
        width: 150px;
        height: 150px;
        z-index: 5;
    }

    .main-header.hidden {
        top: -200px;
        /* Adjust this value based on your header height */
        box-shadow: none;
    }
}
